<div class="carousel">

    <img class="img-fluid" src="assets\images\republicOfGamers.jpg" alt="poster">
    <h1 class="carousel-caption text-center">ABOUT PC GAMER</h1>

</div>

<div style="margin-top: 10px;" class="container">
    <div class="card-body">
        <p class="text-center">
        PC Gamer is the global authority on PC games. We’ve been covering PC gaming for more than 20 years, and continue that legacy today with worldwide print editions and around-the-clock news, features, esports coverage, hardware testing and game reviews on PCGamer.com, as well as major yearly events including the PC Gaming Show at E3. 

Visit our staff page to see the international team behind the stories and events, and keep up with us on Steam, Twitter, Facebook, and YouTube. You can also join us every Wednesday at 1 pm Pacific on our Twitch channel for our weekly livestream and subscribe to our UK podcaston iTunes.

To subscribe to the magazine in the US, UK, or elsewhere, visit myfavouritemagazines.co.uk.
        </p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="card-body col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 ">
                <b>Contact the editors:</b>  <p>editors@pcgamer.com</p> 
                <b>US sales:</b> <p>advertising@futureus.com</p> 
                <b>UK sales:</b> <p>tom.parkinson@futurenet.com</p> 
                <b>Australia sales:</b> <p>cameron.ferris@futurenet.com</p> 
            </div>
            <div class="card-body col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <b> US office address:</b>
                <p>
                    Future
                    11 W 42nd St, 15th floor
                    New York, NY 10036 
                </p>
               
            </div>
            <div class="card-body col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <b> UK office address:</b>
                <p>Future
                    Quay House, The Ambury, Bath BA1 1UA</p>
                
            </div>
            <div class="card-body col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                <b>Australia office address:</b>
                 <p>Future 3/10 100 Walker St
                    North Sydney, NSW, 2060</p>
                
            </div>
        </div>
    
    </div>
</div>

