<!-- +++++++++++++++++++++++++++++++++++++++++++++Footer+++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<footer class="footer ">
    <div class="container-fluid padding">
        <div class="row text-center">

            <div id="QuickLinks" class="col-md-12">
                
                <a routerLink=''>Home</a>
                <a routerLink="/Products">Games</a>
                <a routerLink="/ContactUs">Contact Us</a>
                <a routerLink="/AboutUs">About Us</a>
            </div>
            
            <div class="col-md-12">
                <hr id="divider" class="light">
                <div class="col-12  ">
                    <a href="https://www.facebook.com/yash.chouriya.7" class="fa fa-facebook-square fa-2x"></a>
                    <a  class="fa fa-twitter-square fa-2x"></a>
                    <a  class="fa fa-google-plus-square fa-2x"></a>
                    <a href="https://www.instagram.com/yash_chouriya/" class="fa fa-instagram fa-2x"></a>
                    <a  class="fa fa-youtube-square fa-2x"></a>
                </div>
            
            </div>
            <div class="col-md-12">
                <hr  id="divider" class="light">
                <h5>&copy;Copyright 2019 <a routerLink=''>www.PCGamer.com</a> - All Rights Reserved
                </h5>
            </div>

        </div>
    </div>
</footer>