<div id="bodyBackground" class="container-fluid">

        <div class=" container">


                <div class=" row align-items-center">
                    <div id="loginCard" class="card">
                            <img class="card-img-top" id="loginFace"  src="assets\images\deadpool1.jpg" alt="">
                            <div class="card-body">
                                
                            <button (click)="login()" id="loginButton" class="btn btn-danger">
                                    <a href="#" class="fa fa-google"></a>
                                    Login With Google
                            </button>
        
                            </div>
                    </div>
                           
                </div>
                
        </div>

</div>
