
<div class="carousel ">
        <img id="carouselImage" style="border: none;" class="img-fluid"  src="assets\images\dark_souls_ii_action_role_playing_video_game_open_world_from_software_93122_1920x1080.jpg" alt="Watch Dogs"  >
        <div class="carousel-caption">
            <h1 id="quote" style=" font-weight: bolder;">Dark Souls Remastered</h1>
            <h3 id="quote" style=" font-weight: bolder;">"Darker Than Ever"</h3>
        </div>
    
    </div>
    
    
    <br>
    <div class="container">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <p>
                    Dark Souls Remastered is a 2011 action role-playing game developed by FromSoftware and published by Namco Bandai Games. A spiritual successor to FromSoftware's Demon's Souls, the game is the second instalment in the Souls series. Dark Souls takes place in the fictional kingdom of Lordran, where players assume the role of a cursed undead character who begins a pilgrimage to discover the fate of their kind. A port for Microsoft Windows was released in August 2012, which featured additional content not seen in the original PlayStation 3 and Xbox 360 versions. In October 2012, the new content was made downloadable for consoles, under the subtitle Artorias of the Abyss.

                    Dark Souls received critical acclaim, with many citing it as one of the greatest video games ever made. Critics praising the depth of its combat, intricate level design, and use of flavor text. However, the game's difficulty received mixed reviews, with some criticizing it for being too unforgiving. The original Windows version of the game was less well-received, with criticism directed at numerous technical issues. The game saw two sequels released in the mid-2010s, while a remastered version, Dark Souls: Remastered, was released in 2018. By April 2013, Dark Souls had sold over two million copies worldwide.
            </p>
    
            <hr>
            <h4 class="title">Plot:</h4>
            <p>Dark Souls employs minimalist storytelling to convey its plot and lore. Historical events in its world and their significance are often implicit or left to player interpretation rather than being fully shown or explained. Most of the story is given to the player through dialogue from non-player characters within the game, flavor text from items, and world design.

                    The opening cutscene establishes the premise of the game. Dragons once ruled the world. In this period, a man known as Gwyn happens upon an object known as the "First Flame" and finds the "Lord Souls." He and his allies use their power to defeat the dragons, which starts the Age of Fire. Over time, the flames begin to fade with the rise of humans, and Gwyn sacrifices himself to prolong the Age of Fire. With the flame artificially rekindled, the undead curse begins to plague humanity, causing some humans to resurrect upon death constantly.
                    
                    The player character is a cursed undead, locked away in an undead asylum. After escaping the asylum, the player travels to Lordran to ring the Bells of Awakening. The bells awaken Kingseeker Frampt, who tells the player to ascend to Anor Londo. In Anor Londo, Gwynevere instructs the player to succeed Lord Gwyn and fulfill the prophecy. To accomplish this, the Lord Souls must be acquired from Gwyn's primordial allies and returned to the flame. Optionally, the player may encounter Darkstalker Kaathe who encourages the player not to link the fire but to let it die out and usher in the Age of Dark instead. Once the player acquires the Lord Souls, they travel to the Kiln of the First Flame to battle Gwyn. Once Gwyn has been defeated, the player has the choice of linking the flame to preserve the Age of Fire, or letting it die out to instigate the Age of Dark.
            </p>
            <hr>
            <h4 class="title">
                Screenshots Of Gameplay:
            </h4>
            <div class="row">
                <div class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="assets\images\darksoul1.jpg" alt="" class="card-img-top img-fluid">
                    </div>
                </div>
    
                <div class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                    <img src="assets\images\darksoul2.jpg" alt="" class="card-img-top img-fluid">
                    </div>
                </div>
    
                <div class=" col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="assets\images\darksoul3.jpg" alt="" class="card-img-top img-fluid">
                    </div>
                </div>
    
                <div class="container col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <img src="assets\images\darksoul4.jpg" alt="" class="card-img-top img-fluid">
                    </div>
                </div>
    
            </div>
    
    
        </div>
    </div>